@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import 'global';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #fafafa;
    color: var(--secondary-clr);
    font-family: 'Rubik';
    line-height: 1.5;
    letter-spacing: .5px;
}

h1,h2,h3{
    line-height: 1;
    font-weight: 900;
    color: var(--secondary-clr);
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    display: inline-block;
    color: var(--secondary-clr);
}

li{
    list-style: none;
}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder,button{
    font-family: Rubik;
}

.container{
    width: 90%;
    max-width: 1300px ;
    margin: 0 auto;
}

.fa-phone{
    transform: rotate(90deg);
    margin-left: .5em;
}

.primary{
    background: var(--secondary-clr);
    color: var(--bg-clr);
    border:2px solid var(--secondary-clr);

    .fas{
        margin-left: 5px;
    }
}

.primary-1{
    background: var(--secondary-clr) !important;
    color: var(--bg-clr);
    border:2px solid var(--secondary-clr);

    .fas{
        margin-left: 5px;
    }
}
.secondary{
    background: var(--line-clr);
    color: var(--secondary-clr);
    padding: .8em 1.7em !important;
}

.primary-outline{
    border:2px solid var(--bg-clr);
    color: var(--bg-clr);
}

.secondary-outline{
    border:2px solid var(--secondary-clr) !important;
    color: var(--secondary-clr);
}

.btn{
    padding: .5em 1em;
    border-radius: 3px;
    font-weight: 600;
}

.btn-sm{
    font-size: .8rem ;
}

.mb{
    margin-bottom: 1em;
    color: var(--line-clr);
}

.mt{
    margin-top: 5em;
}

.active-class{
    background: var(--secondary-clr);
    color: var(--bg-clr) !important
}