{% extends 'core/base.html' %}
{% load static %}


{% block content %}

  <section id="login-form">
    <div class="login-form">
      <h1 style="text-align: center; margin-top: 1em;">Email will be sent to reset your password</h1>
      <form method="POST" class="">
        
        {% csrf_token %}
        
        {{ form.new_password1 }}
        {{ form.new_password2 }}

        <button type="submit" class="btn primary-1 auth_loging_signup-btn">
           Reset password
        </button>
      </form>
    </div>
   
  </section>
   
    
{% endblock %}