{% extends 'core/base.html' %}
{% load static %}


{% block content %}

   <section>
      <div class="fye-section-register" style="background-color: var(--bg-clr);">
         <div class="container fye-section-two" style="align-items: stretch;">
            <div class="fye-section-right-one" style="max-width: 530px;">
               <h1 style="text-align: left;">ABOUT US</h1>
                <p style="font-size: 1rem;text-align: left;">
                    Enrich-Zm is a platform built by innovative Zambians who have the interest 
                    in helping other individual to keep thriving. 
                </p>
            
                <p style="font-size: 1rem;text-align: left;">
                    The many goal for this platform is to help individual who have businesses to
                    advertise there products | services, Tutors/Teachers to provide educative 
                    content that is benefitial to students and pupils as well as those looking for 
                    employment to post there skills and employers to find the best employees
                    that suite there requirements. 
                </p>

                <p style="font-size: 1rem; text-align: left;">
                    This initiative is focused on helping individuals and communities.
                </p>
            </div>

            <div class="fye-section-left-one">
               <div class="fye-form-inner-wrapper mt mb">
                  <p style="font-size: 1rem; color: var(--primary-clr) ;text-align: left;">
                     "The person who doesn't know where is next wealth is coming
                     from usually doesn't know where his last expenditure went."
                     <span style="font-weight: 500; margin-right: 1em; float: right; color: var(--line-clr); margin-top: .5em;">_Kazion</span> 
                  </p>
               </div>
             </div>
         </div>
      </div>
   </section>

   
   <!-- FOOTER -->
   <!-- <footer>
   <div class="last-footer">
      <span>Copyright&copy;2020 <a href="">KazionDesigns</a></span>
   </div>
   </footer> -->
   <!--END OF FOOTER -->
{% endblock %}