{% extends 'core/base.html' %}
{% load static %}


{% block content %}

   <header>
      <div class="fye-header-wrapper" style="height: 94.6vh;">
         <div class="container fye-header">
               <div class="fye-left">
                  <h1>LEARN AT YOUR<br>OWN PACE</h1>
                  <!-- <a href="" class="btn secondary btn-sm mt-1">Sign up for free</a> -->

                    <h1 style="color: var(--bg-clr); margin-top: 30px; text-shadow: 0 0 6px black; color: var(--primary-clr);"> Coming Soon!! </h1>
                    <h3 style="color: var(--grey-d-clr);"> Stay Tuned </h3>
               </div>
               
               <div class="fye-right main-course-right">
                  <img src="{% static 'img/Mask6.svg' %}" alt="">
               </div>
         </div>
      </div>
   </header>

{% endblock %}